---
import Container from "@components/container.astro"
---

<Container>
  <nav>
    <div class='flex flex-wrap justify-between md:gap-10 md:flex-nowrap'>
      <div class='flex items-center justify-between w-full md:w-auto'>
        <a class='text-lg font-mono' href='/'> Aprende de pasaportes</a>
      </div>
    </div>
  </nav>
</Container>
